* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}






// import file scss

@import './scss/responsive';
@import './scss/header';
@import './scss/footer';
